Flask
matplotlib
numpy
pandas
pygame
Pillow
psutil
requests
scipy
seaborn
simplejpeg
SpeechRecognition
torch
torchvision
tqdm
ultralytics
ultralytics-thop
websockets
Werkzeug
v4l2-python3
pyaudio
elevenlabs

